<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/store.css">
        <title>#{ecommerceName}</title>
    </head>
    <body>
        <div class="main">
            <div class="main__section">
                <h1>Welcome to #{ecommerceName} Store</h1>
            </div>
            <div class="title__section">
                <h2 class="title__h2">The Best Products</h2>
            </div>
            <div class="item__section">
                #{ecommerceItems}
            </div>
        </div>

    </body>
</html>
